body
{
	margin: 0px;
	padding: 0px;
	background-color: #D7D9DB;
}

header
{
	background-color: rgba(0,183,229,1); 
	height: 60px;
	border-bottom: 5px solid white;
	width: 100%;
	display: inline-block;
	top: 0px;
}
header img
{
	width: 40px;
	height: 40px;
}

#logo 
{
	float: left;
	border: 1px solid black;
	margin-left: 70px;
	margin-top: 8px;
	background-color: rgb(255,255,255);
	-moz-border-radius-topleft: 90px;
	-webkit-border-top-left-radius: 90px;
	 border-top-left-radius: 90px;
	-moz-border-radius-topright: 90px;
	-webkit-border-top-right-radius: 90px;
	border-top-right-radius: 90px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 90px;
	-webkit-border-bottom-left-radius: 90px;
	border-bottom-left-radius: 90px;
}

#dec img:hover
{

	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

header h1
{
	color: white;
	font-family: 'Corbel';
	font-size: 40px;
	width: 300px;
	margin-left: 118px;
	margin-top: 0px;
	padding: 15px;
}
#feedplace
{
	margin-top: 120px;
}
#main
{
	margin-top: 10px;
	width: 1000px;
	margin-left:  auto;
	margin-right:  auto;
	background-color: white;
	border-radius: 5px;
	position: relative;
	border: 1px solid grey;


}

#infos img:hover
{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#infos img
{
	/*border-radius: 3.7px;*/
	-moz-border-radius-topleft: 90px;
	-webkit-border-top-left-radius: 90px;
	 border-top-left-radius: 90px;
	-moz-border-radius-topright: 90px;
	-webkit-border-top-right-radius: 90px;
	border-top-right-radius: 90px;
	-moz-border-radius-bottomright: 90px;
	-webkit-border-bottom-right-radius: 90px;
	border-bottom-right-radius: 90px;
	-moz-border-radius-bottomleft: 90px;
	-webkit-border-bottom-left-radius: 90px;
	border-bottom-left-radius: 90px;

	width: 73px;
	height: 73px;
	border: 2px solid #00B7EB;
}
#infos
{
	margin: 5px;
	width: 200px;

}
#domaine
{
	position: absolute;
	margin-top: 45px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Calibri';
	color: grey;
}
#domaine:visited {color: grey;}

label
{
	text-align: left;
	font-family: 'Corbel';
	font-size: 20px;
	position: absolute;
	font-weight: bold;
	color: #202020;
	margin-top: 20px;
	margin-left: 7px;
	cursor: hand;
}
label:hover
{
	color:  #00B7EB;
	text-decoration: none;
}
p
{
	font-family: 'Calibri';
	font-size:28px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 20px;
}
 ul,li 
{
	list-style: none;
	display: inline;
}
#post ul li a 
{
	color: #00B7EB;
	font-family: 'Corbel';
	font-size:15px;
	padding: 10px;
	text-decoration: none;
}

ul
{
	margin-top: 0px;
}


#publie
{

	margin-top: 8px;
	width: 1000px;
	margin-left:  auto;
	margin-right:  auto;
}
#pub 
{
	height: 50px;
	width: 1000px;
	padding: 0px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	padding-top: 5px;
}
select
{
	margin-top: 20px;
	margin-left: 5px;
	width: 200px;
	height: 30px;
	padding: 5px;
	border: 1px solid black;
}
#pub input:hover {background-color: gold; border-color: gold;}
#pub input
{
	background-color: rgba(0,183,229,1);
	color: white;
	border: 2px solid rgba(0,183,229,1);
	height: 30px;
	width: 100px;
	margin-top: 20px;
	margin-left: 220px;
	position: absolute;
}
#pub label
{
	text-align: left;
	font-family: 'Corbel';
	font-size: 14px;
	color: #202020;
	margin-top: 1px;
	margin-left: 7px;
	margin-bottom: 10px;
	position: absolute;
} 
#publie textarea
{
	min-height: 100px;
	min-width: 1000px;
	max-width: 1000px;
	resize: none;
	font-size: 25px;
	font-family: 'Corbel', 'Calibri';
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	font-weight: bold;
	color: #080808;
	-webkit-box-shadow: 1px 1px 100px 1px #636370;
	box-shadow: 1px 1px 100px 1px #636370;
}

h3
{
	font-family: 'Verdana';
	margin-bottom: 2px;
}


#delete_post input
{
	background: url(../x.PNG);
	background-size: 100%;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	float: right;
	margin: 5px;
	padding-bottom: 5px;

}
#delete_post input:hover
{
	border-bottom: 4px solid rgba(0,183,229,1); 
}


#logoetnom
{
	width: 300px;
}
#logoetnom, #menu, #pub
{
	display: inline-block;
}

#menu li
{
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 5px;
	margin: 20px;
	font-family: 'Corbel';
	font-weight: bold;
	font-size: 30px;

}
#menu a
{
}
#dec a
{
	border: 2px solid white;
	float: right;
	margin-right: 40px;
	}
#menu a:link{	text-decoration: none;	color: white; }
#menu a:visited{	text-decoration: none;	color: white;}
#menu a:hover{	border-bottom: 5px solid  white; padding-bottom: 5px;	}


#comments_ 
{
	width: 995px;
	position: relative;
	margin-top: 1px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;

	background-color: rgba(200,200,200,0.7);
	border-bottom: 2px solid grey;
}
#comments_ p 
{
	font-size: 15px;
	position: relative;
	text-align: left;
	margin-left: 40px;
	margin-top: 0px;
}
#comments_ label
{
	position: absolute;
	margin-top: 0px;
	margin-left: 5px;
} 
#comments_ img 
{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 3px solid rgba(0,182,219,1);
}
#commentaire_
{
	width: 100%;
	border-top: 1px solid grey;
	padding: 0px;
	height: 35px;
	margin-bottom: 20px;
}
#commentaire_ textarea
{
	width: 890px;
	height: 40px;
	resize: none;
	border: none;
	outline: none;
	font-size: 18px;
	font-family: 'Calibri';
	padding: 3px;
}
#commentaire_ input
{
	background-color: rgba(0,183,229,1);
	color: white;
	border:none;
	height: 56px;
	width: 110px;
	font-size: 14px;
	font-family: 'Corbel';
	position: absolute;float: right;
}
#blueheart
{
		background: url(../img/icons/blueheart.PNG);
	background-size: 100%;
	width: 30px;
	height: 30px;
	border: 1px solid white;
}
#heart
{
	background: url(../img/icons/heart.PNG);
	background-size: 100%;
	width: 30px;
	height: 30px;
	border: 1px solid white;
}
ul li form
{
	width: 40px;
	display: inline-block;
	margin-bottom: 15px;
	height: 40px;
	position: inherit;
	margin-top: 0px;
}
#co 
{
	background: url(../img/icons/com.PNG);
	background-size: 100%;
	width: 30px;
	height: 30px;
	border: 1px solid white;
}
#check
{
	background: url(../img/icons/check.PNG);
	background-size: 100%;
	width: 30px;
	height: 30px;
	border: 1px solid white;
}
ul li form h6
{
	margin-right: 13px;
	font-family: 'Calibri';
	font-size: 20px;
	position: relative;
	margin-top: 0px;
	height: 22px;
	text-align: center;
	padding: 0px;
}
h6 span {color: white;}


#bonjour span 
{
	color: rgba(0,183,229,1);

}
#bonjour p
{
	margin-top: 30px;
	margin-bottom: 0
}
#bonjour
{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 100px;
	padding: 100px;
	width: 1000px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
}

#setting_menu li
{
	display: list-item;
}
#setting_menu ul li a:hover {background-color: white; color: rgba(0,183,229,1);}
#setting_menu ul li a 
{
	text-decoration: none;
	color: white;
	float: left;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 140px;
	font-family: 'Calibri';
	font-size: 20px;
}
#setting_menu ul {border: 3px solid green; text-align: left; }
#setting_menu 
{
	width: 160px;
	position: relative;
	float: right;
	border-radius: 5px 0px 5px 5px;
	background-color: rgba(0,183,229,0.99);
	margin-top: 55px;
}

#ul
{
	top: 10px;
	position: absolute;
	width: 100%;
	height: 60px;
}

#ul ul
{
	margin-left: 430px;
	margin-top: 10px;
}

p a {color: rgba(0,183,229,1)}

.domaine a
{
	color: white;
	text-decoration: none;
	font-family: 'Calibri';
	height: 40px;

}
.domaine a:visited{color: white}
.domaine
{
	position: absolute;
	right: 50px;
	background-color: rgba(0,80,219,0.8);
	border-radius: 0px 0px 10px 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
}
#postting 
{
	margin-top: 80px;
	margin-bottom: 60px;
}
#click_here a
{
	font-family: 'Corbel';
	text-decoration: none;
	color: rgb(0,120,222);
}
#click_here
{
	width: 100%;
	padding: 10px;
	background-color: rgba(200,200,200,0.7);
} 
#edit_place
{
	padding-top: 40px;
	width: 800px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	padding-bottom: 30px;

	background-color: rgba(255,255,255,0.35);
}
 h5
{
	font-family: 'Calibri';
	font-size: 16px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 5px;
}
#email, #mot_de_pass,#user,#nom,#prenom
{
	margin-top: 20px;
	margin-left: 30px;
}
#edit_place input
{
	width: 220px;
	height: 30px;
}
#sss button 
{
	background: url(../img/icons/down.png);
	background-size: 100%;
	outline: none;
	width: 30px;
	height:30px; 
	border: 2px solid grey;
	float: right;
	margin-right: 10px;
	border-radius: 5px;
}
#sss button:hover
{
	background-color: rgba(0,183,229,1);	
}

#sss
{
	font-family:'Corbel';
	font-size: 18px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 7px;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 20px;
	display: block;
	width: 350px;
	margin-bottom: 20px;
}
#down
{
	border: none;
	height: 30px;
	margin-top: 15px;
	background-color: rgba(0,182,219,1);
	font-family: 'Corbel';
	font-size: 16px;

}
